body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
  }

  .title {
    color: hsl(88, 71%, 30%);
  }

  .titlesection {
    background-color: seafoam;
    padding: 25px 50px;
  }

p {
    color: red;
}
